body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* The container where everything is stored */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


/* Gameboard and cells */

#gameboard {
    width: 300px;
    height: 300px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    border: 2px solid rgb(0, 0, 0);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(0, 0, 0);
}

.cell img {
    width: 60%;
}


/* Result display */

#result {
    flex-direction: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    margin-top: 20px;

    font-size: 30px;

    border: 2px solid black;
}


/* Menu with two player name forms */

.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.player {
    display: none;
    gap: 12px;
    width: 100%;
    justify-content: space-between;
}

input {
    width: 180px;
}


/* Game-flow related elements */

.game {
    display: none /* hidden by default */
}

button {
    display: none;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;

    margin-top: 10px;

    font-size: 20px;

    border-radius: 10px;
    border: 2px solid black;
}


/* Class for showing elements when needed */
.shown-flex {
    display: flex !important;
}