html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95%;

    font-family: 'Brush Script MT', cursive;

    background: rgb(255, 241, 187);
}

h1 {
    font-size: 40px;
}


/* The container where everything is stored */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


/* Gameboard and cells */

#gameboard {
    width: 400px;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    border: 1px solid rgb(5, 4, 0);
    border-radius: 1px;
    background: rgb(255, 227, 114);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(0, 0, 0);
}

.cell img {
    width: 60%;
}


.winner img {
    width: 80%;
}


/* Result display */

#result {
    flex-direction: center;
    align-items: center;
    justify-content: center;
    padding: 10px;

    font-size: 30px;
    text-align: center;

}


/* Menu with two player name forms */

.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 12px;

    font-size: 24px;

    background: rgb(255, 230, 129);
    border: 2px solid black;
}

.player {
    display: none;
    gap: 12px;
    width: 100%;
    justify-content: space-between;

    letter-spacing: 1px;
}

input {
    width: 180px;

    font-size: 18px;
    font-family: 'Brush Script MT', cursive;

    background:rgb(255, 241, 183);
    border: 2px solid rgb(0, 0, 0);
}

input:focus {
    outline: none;
}


/* Game-flow related elements */

.game {
    display: none /* hidden by default */
}

button {
    display: none;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;

    margin-top: 10px;

    font-size: 20px;
    font-family: 'Brush Script MT', cursive;

    border-radius: 10px;
    border: 2px solid black;

    background:rgb(255, 241, 183);
}

#start:hover {
    background:rgb(255, 219, 74);
}

#start:active {
    background:rgb(255, 204, 0)
}


/* Class for showing elements when needed */
.shown-flex {
    display: flex !important;
}


footer {
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #2f495f;
}